{% extends 'catalog/base_generic.html' %}

{% block title %}
	<title>{{author}} - Author Detail | Local Library</title>
{% endblock %}

{% block content %}
	<h1>Author: {{author}}</h1>

	<p>{{author.date_of_birth|date:"M d, Y"}} - {% if author.date_of_death %}{{author.date_of_death|date:"M d, Y"}}{% else %}Present{% endif %}</p>

	<div style="margin-left:20px;margin-top:20px">
		<h4>Books</h4>
		{% if author.book_set.all %}
			{% for book in author.book_set.all %}
				<hr>
				<p><strong><a href="{% url 'book-detail' book.pk %}">{{book.title}}</a></strong> ({{book.bookinstance_set.all.count}})</p>
				<p>{{book.summary}}</p>
			{% endfor %}
		{% else %}
			<p>No works of this author are currently present.</p>
		{% endif %}
	</div>
	{% if perms.catalog.can_mark_returned %}
		<p><a class="text-danger" href="{% url 'author-delete' author.pk %}">Delete Author</a> | <a class="text-warning" href="{% url 'author-update' author.pk %}">Update Author</p>
	{% endif %}
{% endblock %}